@layout LoginLayout
@inherits LayoutComponentBase
<center class="center-1">
    <div class="col-9 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-12 row cl-2">
            <div class="col-6 cl-3" style="border-right:groove">
                <MudImage Src="./EPUlogo.png" Width="400" Height="400" Alt="Swedish Farm House" Elevation="25" Class="rounded-lg ma-4 login-1"/>
            </div>
            <div class="col-6 cl-3" style="border-left:thick">
                @Body
            </div>
        </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
</center>